.App {
  text-align: center;
}

/* Style for the navigation bar */
nav {
  background-color: #333; /* Background color for the navigation bar */
  color: #fff; /* Text color */
  padding: 20px; /* Add some padding for spacing */
}

/* Style for navigation links */
nav a {
  text-decoration: none; /* Remove underlines from links */
  color: #fff; /* Text color for links */
  margin: 10px; /* Add spacing between links */
  font-size: 16px; /* Adjust font size */
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

/* Style for the active link */
nav a.active {
  text-decoration: underline; /* Underline the active link */
  color: red; /* Change text color to red for the active link */
}

/* Hover effect for links */
nav a:hover {
  color: #ff6600; /* Change text color to orange on hover */
}


.content {
  margin: 20px; /* Add margin to the content */
  padding: 10px; /* Add padding for spacing inside the content */
  border: 1px solid #ccc; /* Add a border for visual separation */
  background-color: #fff; /* Set a background color for the content */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}